@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/ccs2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';

}

body {
    margin: 0 auto;
}

/* Tete de page */

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 200px;
}

section.top-page {
    background: url('../images/pexels-stywo-1054218.png');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

/* page de bienvenue */

.landing-page {
    padding: 20px 50px;
}

.big-title {    
    color: white;
    font-size: 65px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}


/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 550px;
    margin-left: 30px;
    font-size: 20px;
}

nav.nav li {
    color: white;
}

/* interet */

.interet {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.interet-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.terminal-icon {
    font-size: 50px;
    color: blue;
}

.interet-details {
    font-weight: 600;
    width: 200px;
    text-align: center;

}

/* Parcours pro */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color:blue;
    width: 50px;
    height: 7px;
    bottom: 0;
}